*
{
    box-sizing: border-box;
    margin: 0px;
}

body{
  min-height: 100%;
  color: white;
  background-color: rgb(23,25,27);
}

/*change margin later*/
.App {
  margin: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ItemList{
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 3px;
  font-size: small;
  background-color: rgb(30,32,34);
}

.each--item{
  background-color: rgb(23,25,27);
  display: flex;
  justify-content: space-around;
  border: 1px solid gray;
  border-radius: 3px;
  width: 280px;
  align-items: center;
}

.each--item--category{
}


.each--item--category--label{
  border-radius: 3px;
  border: 1px solid gray;
}

.each--item--name{
}

.each--item--price{
}
