body{
  min-height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

.ItemList{
  display: flex;
  padding: 2em;
  flex-direction: column;
}

.ItemList > div{
  padding: 2em;
  margin: 0.2em;
  border: 0.2em solid black;
  border-radius: 0.5em;
  align-self: center;
}

.each--item > ul  {
  list-style: none;
}

.each--item--price--label {
}

.each--item--category--label { 
}