*
{
    box-sizing: border-box;
    margin: 0;
}

.ItemListSection{
  font-size: 0.8em;
}

.ItemList
{
  border-radius: 0.3em;
}

.TransactionHeader{
  
  background-color: white;
  margin-bottom: 0.2rem;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  color: rgb(125, 143, 179);
  display: flex;
}

.TransactionHeader > div{
  padding: 2em 1em 2em 1em;
  cursor: pointer;
}


.TransactionHeader > span:first-child{
  text-decoration: underline;
}

.each-item{
  padding: 1em 0; 
  margin-bottom: 0.2rem;
  background-color: white
}

.each-item-card{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 1fr;
}

.each-item-category{
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.each-item-name{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.each-item-price{
  grid-column: 3;
  grid-row: 1 / 3;
}

.each-item-delete{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.each-item-category{

  display: flex;
  justify-content: center;
  align-items: center;
}

.each-item-name{
  font-weight: bold;
}

.each-item-name-label{
  color: #4D5E80;
}

.each-item-category-label{
  background-color:rgb(147, 112, 216, 0.1);
  font-size: 0.8em;
  color: rgb(147, 112, 216);
  border-radius: 50%;
  min-height: 2.5rem;
  min-width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.each-item-price{
  display: flex;
  justify-content: center;
  align-items: center;
}

.each-item-price-label{
  background-color:  #F7F8FA;
  border-radius: 1em;
  padding: 0.3em 0.8em;  
  font-size: 0.7rem;
}


.each-item-delete{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.each-item-delete-icon{
  cursor: pointer;
}

.TotalPriceSection{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
}

.TotalPrice {
  padding-top: 1em;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.TotalPrice > p{
  background-color: rgba(41, 204, 57, 0.1);
  border-radius: 1em;
  padding: 0.3em 0.8em;  
  color: #29CC39;
  font-size: 0.7rem;
}

.HeaderClicked{
    border-bottom:  2px solid purple;
    background-color: rgb(244, 244, 244)
}

form{
  padding: 3em;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

label{
  display:block;
  padding: 0.5em;
}

input{
  display:block;
  border-radius: 0.5em;
  border: 1px solid gray;
  padding: 0.5em;
}

form > button{
  margin-top: 1em;
  width: 25%;
  align-self: center;
  border-radius: 0.5em;
  border: none;
  background-color: rgba(77, 128, 96, 0.5);
  padding: 0.3em 0.6em;
}

